@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";
@value headings "sourcegraph/components/styles/heading.css";
@value vars "sourcegraph/components/styles/_vars.css";

@value media-sm from vars;
.container {
	composes: center from base;
	composes: col-11-ns from grid;
	max-width: 68rem;
	min-height: 50vh;
}

.def-title {
	composes: fw1 f4 from typography;
}

.def-title:hover {
	text-decoration: underline;
}

.def {
	composes: purple from colors;
}

.authors {
	composes: ma2 from base; 
	display: flex;
	align-items: center;
}

.section-label {
	composes: mt3 mr3 mb3 from base;
}

.section-label:after {
	content: none;
}

.description-wrapper {
	composes: pt0 from base;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.icon {
	font-size: 1.5rem;
	padding-top: 5px;
	padding-right: 10px;
	float: left;
}

.description {
	composes: normal-text from typography;
}

.doc-string{
	composes: pt4 pb1 from base;
	composes: b normal-text from typography;
}

.description-expander{
	composes: description;
	composes: link from "sourcegraph/components/styles/link.css";
	cursor: pointer; 
}

.filter {
	margin-left: 0;
	background-color: black;
}

.pagination {
	composes: pb5 from base;
	display: flex;
	justify-content: center;
}

.translation-dropdown {
	/*Why is it that I can't set this to gray-5?*/
	composes: bg-cool-pale-gray-8 from colors;
	composes: fw6 from typography;
	composes: pt2 pl3 pr3 pb2 from base;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.refs-container{
	display: flex;
	flex-direction: row-reverse; 
}

.refs-sidebar {
	composes: ml4 from base;
	flex: 1;
	flex-shrink: 0;
	border-left: 1px solid #eeeeee;
}

.filter-list {
	composes: ml0 pl0 from base;
	list-style: none;
}

.repoList {
	composes: small-text from typography;
}

.refs-blobs {
	flex: 3;
	overflow-x: auto;
	overflow-y: scroll;
}

@media screen and (max-width: 48em) {
	.def-header, .description, .section-label {
		margin-left: 10px;
		margin-right: 10px;
	}
}