@value base "sourcegraph/components/styles/_base.css";
@value grid "sourcegraph/components/styles/_grid.css";
@value colors "sourcegraph/components/styles/_colors.css";
@value typography "sourcegraph/components/styles/_typography.css";

.container {
	composes: center from base;
	composes: col-11-ns from grid;
	max-width: 68rem;
	min-height: 50vh;
}

.back-icon {
	composes: gray from colors;
}

.def-title {
	composes: mid-grey from colors;
	composes: fw1 f4 from typography;
}

.def-title:hover {
	text-decoration: underline;
}

.def {
	composes: purple from colors;
}

.authors {
	display: flex;
	align-items: center;
}

.section-label {
	composes: subsection-header from typography;
	composes: pt3 pb1 from base;
}

.description-wrapper {
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	padding-top: 0px;
	position: relative;
}

.icon {
	font-size: 1.5rem;
	padding-top: 5px;
	padding-right: 10px;
	float: left;
}

.description {
	composes: normal-text from typography;
}

.pagination {
	composes: pb5 from base;
	display: flex;
	justify-content: center;
}

.translation-widget {
	composes: bg-cool-pale-gray-5 from colors;
	composes: fw6 from typography;
    composes: pa2 pl3 pr3 pb2 from base;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

@media screen and (max-width: 48em) {
	.def-header, .description, .section-label {
		margin-left: 10px;
		margin-right: 10px;
	}
}
